[package]
name = "encointer-primitives"
version = "0.3.9"
authors = ["Christian Langenbacher <christian.langenbacher91@gmail.com>"]
edition = "2018"

[dependencies.codec]
default-features = false
package = "parity-scale-codec"
features = ["derive"]
version = "1.3.0"

[dependencies.fixed]
default-features = false
git = "https://github.com/encointer/substrate-fixed"
tag = "v0.5.5"
package = "substrate-fixed"

[dependencies.sp-core]
default-features = false
package = "sp-core"
git = "https://github.com/paritytech/substrate.git"
branch = "master"

[dependencies.sp-runtime]
default-features = false
package = "sp-runtime"
git = "https://github.com/paritytech/substrate.git"
branch = "master"

[dependencies.rstd]
default-features = false
package = "sp-std"
git = "https://github.com/paritytech/substrate.git"
branch = "master"

[dependencies.serde]
features = ["derive"]
optional = true
version = "1.0.101"

[features]
default = ["std"]
std = [
    "codec/std",
    "fixed/std",
    "rstd/std",
    "serde",
    "sp-core/std",
    "sp-runtime/std",
]