[package]
name = "encointer-primitives"
version = "0.8.0"
authors = ["encointer.org <alain@encointer.org>"]
edition = "2018"

[dependencies]
bs58 = { version = "0.4.0", default-features = false, features = ["alloc"] }
codec = { package = "parity-scale-codec", version = "2.3.1", default-features = false, features = ["derive"] }
concat-arrays = { version = "0.1.2", default-features = false }
crc = "2.0.0"
geohash = { git = "https://github.com/encointer/geohash", branch = "master" }
log = { version = "0.4.14", default-features = false }
scale-info = { version = "1.0", default-features = false, features = ["derive"] }
serde = { version = "1.0.101", optional = true, default-features = false, features = ["derive","alloc"] }

# local deps
ep-core = { path = "core", default-features = false }

# substrate deps
sp-core = { version = "4.1.0-dev", git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "master" }
sp-io = { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "master" }
sp-runtime = { version = "4.1.0-dev", git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "master" }
sp-std = { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "master" }

# polkadot deps
xcm = { optional = true, default-features = false, git = "https://github.com/paritytech/polkadot", branch = "master" }

[dev-dependencies]
test-utils = { path = "../test-utils" }
serde_json = "1.0.72"

[features]
default = ["std", "serde_derive"]
sybil = ["xcm"]
serde_derive = [
    "ep-core/serde_derive",
    "serde",
]
std = [
    "bs58/std",
    "codec/std",
    "ep-core/std",
    "scale-info/std",
    "serde/std",
    "sp-core/std",
    "sp-core/full_crypto",
    "sp-std/std",
    "sp-runtime/std",
]
