[workspace]
members = [
  'balances',
  'balances-tx-payment',
  'balances-tx-payment/rpc',
  'balances-tx-payment/rpc/runtime-api',
  'bazaar',
  'bazaar/rpc',
  'bazaar/rpc/runtime-api',
  'ceremonies',
  'ceremonies/rpc',
  'ceremonies/rpc/runtime-api',
  'ceremonies/assignment',
  'communities',
  'communities/rpc',
  'communities/rpc/runtime-api',
  'personhood-oracle',
  'primitives',
  'primitives/core',
  'rpc',
  'scheduler',
  'sybil-gate-template',
  'test-utils',
]

#[patch."https://github.com/encointer/substrate-fixed"]
#substrate-fixed = { path = "../substrate-fixed"}
#
#[patch."https://github.com/encointer/typenum"]
#typenum = { path = "../typenum"}

#[patch."https://github.com/encointer/geohash"]
#geohash = { path = "../geohash"}
