[package]
name = "pallet-encointer-bazaar"
version = "0.8.1"
authors = ["encointer.org <alain@encointer.org>"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "2.3.0", default-features = false, features = ["derive"] }
log = { version = "0.4.14", default-features = false }
scale-info = { version = "1.0.0", default-features = false }

# local deps
encointer-communities = { package = "pallet-encointer-communities", path = "../communities", default-features = false }
encointer-primitives = { path = "../primitives", default-features = false }

# substrate deps
frame-benchmarking = { version = "4.0.0-dev", default-features = false, optional = true, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.17" }
frame-support = { version = "4.0.0-dev", default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.17" }
frame-system = { version = "4.0.0-dev", default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.17" }
sp-std = { version = "4.0.0-dev", default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.17" }
sp-core = {default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.17" }

[dev-dependencies]
sp-io = {  git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.17" }
test-utils = { path = "../test-utils" }

[features]
default = ["std"]
std = [
	"codec/std",
	"log/std",
	"scale-info/std",

	# local deps
	"encointer-communities/std",
	"encointer-primitives/std",

	# substrate deps
	"frame-support/std",
	"frame-system/std",
	"sp-std/std",
	"sp-core/std",
]

runtime-benchmarks = ["frame-benchmarking"]
