[package]
name = "pallet-encointer-bazaar"
version = "1.1.0"
authors = ["encointer.org <alain@encointer.org>"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
log = { version = "0.4.14", default-features = false }
scale-info = { version = "2.0.1", default-features = false }

# local deps
encointer-communities = { package = "pallet-encointer-communities", path = "../communities", default-features = false }
encointer-primitives = { path = "../primitives", default-features = false }

# substrate deps
frame-benchmarking = { version = "4.0.0-dev", default-features = false, optional = true, git = "https://github.com/paritytech/substrate.git", branch = "master" }
frame-support = { version = "4.0.0-dev", default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "master" }
frame-system = { version = "4.0.0-dev", default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "master" }
sp-std = { version = "4.0.0-dev", default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "master" }
sp-core = { version = "6.0.0", default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "master" }

[dev-dependencies]
sp-io = { version = "6.0.0", git = "https://github.com/paritytech/substrate.git", branch = "master" }
test-utils = { path = "../test-utils" }

[features]
default = ["std"]
std = [
	"codec/std",
	"log/std",
	"scale-info/std",

	# local deps
	"encointer-communities/std",
	"encointer-primitives/std",

	# substrate deps
	"frame-support/std",
	"frame-system/std",
	"sp-std/std",
	"sp-core/std",
]

runtime-benchmarks = ["frame-benchmarking"]
