[package]
name = "pallet-encointer-bazaar"
version = "0.3.9"
authors = ["encointer.org <alain@encointer.org>"]
edition = "2018"

[dependencies]

[dependencies.rstd]
default-features = false
package = "sp-std"
git = "https://github.com/paritytech/substrate.git" 
rev = "38f723bf"

[dependencies.codec]
default-features = false
package = "parity-scale-codec"
features = ["derive"]
version = "1.3.0"

[dependencies.encointer-communities]
default-features = false
path = "../communities"
package = "pallet-encointer-communities"

[dependencies.encointer-primitives]
default-features = false
package = "encointer-primitives"
path = "../primitives"

[dependencies.runtime-io]
default-features = false
package = "sp-io"
git = "https://github.com/paritytech/substrate.git" 
rev = "38f723bf"

[dependencies.frame-support]
default-features = false
package = "frame-support"
git = "https://github.com/paritytech/substrate.git" 
rev = "38f723bf"

[dependencies.frame-system]
default-features = false
package = "frame-system"
git = "https://github.com/paritytech/substrate.git" 
rev = "38f723bf"

[dev-dependencies]
approx = "0.3.0"
tempdir = "0.3.7"

[dev-dependencies.externalities]
package = "sp-externalities"
git = "https://github.com/paritytech/substrate.git" 
rev = "38f723bf"

[dev-dependencies.fixed]
git = "https://github.com/encointer/substrate-fixed"
tag = "v0.5.4+sub_v0.1"
package = "substrate-fixed"

[dev-dependencies.sp-keyring]
package = "sp-keyring"
git = "https://github.com/paritytech/substrate.git" 
rev = "38f723bf"

[dev-dependencies.balances]
package = "pallet-balances"
git = "https://github.com/paritytech/substrate.git" 
rev = "38f723bf"

[dev-dependencies.sp-core]
package = "sp-core"
git = "https://github.com/paritytech/substrate.git" 
rev = "38f723bf"

[dev-dependencies.sp-runtime]
package = "sp-runtime"
git = "https://github.com/paritytech/substrate.git" 
rev = "38f723bf"

[dev-dependencies.encointer-balances]
path = "../balances"
package = "pallet-encointer-balances"

[dev-dependencies.test-utils]
path = "../test-utils"

[features]
default = ["std"]
std = [
	"rstd/std",
	"codec/std",
	"encointer-communities/std",
	"runtime-io/std",
	"frame-support/std",
	"frame-system/std",
]