[package]
name = "pallet-encointer-bazaar"
version = "0.3.6"
authors = ["encointer.org <alain@encointer.org>"]
edition = "2018"

[dependencies]

[dependencies.rstd]
default-features = false
package = "sp-std"
version = "2.0.0"

[dependencies.codec]
default-features = false
package = "parity-scale-codec"
features = ["derive"]
version = "1.3.0"

[dependencies.encointer-currencies]
default-features = false
path = "../currencies"
package = "pallet-encointer-currencies"

[dependencies.runtime-io]
default-features = false
package = "sp-io"
version = "2.0.0"

[dependencies.frame-support]
default-features = false
package = "frame-support"
version = "2.0.0"

[dependencies.frame-system]
default-features = false
package = "frame-system"
version = "2.0.0"

[dev-dependencies]
approx = "0.3.0"
tempdir = "0.3.7"

[dev-dependencies.externalities]
package = "sp-externalities"
version = "0.8.0"

[dev-dependencies.fixed]
default-features = false
git = "https://github.com/encointer/substrate-fixed"
tag = "v0.5.4+sub_v0.1"
package = "substrate-fixed"

[dev-dependencies.sp-keyring]
package = "sp-keyring"
version = "2.0.0"

[dev-dependencies.balances]
default-features = false
package = "pallet-balances"
version = "2.0.0"

[dev-dependencies.sp-core]
default-features = false
package = "sp-core"
version = "2.0.0"

[dev-dependencies.sp-runtime]
default-features = false
package = "sp-runtime"
version = "2.0.0"

[dev-dependencies.encointer-balances]
default-features = false
path = "../balances"
package = "pallet-encointer-balances"


[features]
default = ["std"]
std = [
	"runtime-io/std",
	"rstd/std",
	"frame-support/std",
	"frame-system/std",
	"fixed/std",
	"encointer-currencies/std",
	"encointer-balances/std",
	"balances/std",
	"sp-runtime/std",
	"sp-core/std",
	"codec/std",
]