[package]
name = "pallet-encointer-balances"
version = "0.3.9"
authors = ["encointer.org <alain@encointer.org> and Parity Technologies <admin@parity.io>"]
edition = "2018"

[dependencies]
serde = { version = "1.0.101", optional = true }
codec = { package = "parity-scale-codec", version = "1.3.0", default-features = false, features = ["derive"] }
num-traits = { version = "0.2.8", default-features = false }
impl-trait-for-tuples = "0.1.3"

[dependencies.encointer-primitives]
default-features = false
package = "encointer-primitives"
path = "../primitives"

[dependencies.encointer-communities]
default-features = false
path = "../communities"
package = "pallet-encointer-communities"

[dependencies.fixed]
default-features = false
git = "https://github.com/encointer/substrate-fixed"
tag = "v0.5.4+sub_v0.1"
package = "substrate-fixed"

[dependencies.rstd]
default-features = false
package = "sp-std"
git = "https://github.com/paritytech/substrate.git"
rev = "38f723bf"

[dependencies.sp-runtime]
default-features = false
package = "sp-runtime"
git = "https://github.com/paritytech/substrate.git" 
rev = "38f723bf"

[dependencies.runtime-io]
default-features = false
package = "sp-io"
git = "https://github.com/paritytech/substrate.git" 
rev = "38f723bf"

[dependencies.frame-support]
default-features = false
package = "frame-support"
git = "https://github.com/paritytech/substrate.git" 
rev = "38f723bf"

[dependencies.frame-system]
default-features = false
package = "frame-system"
git = "https://github.com/paritytech/substrate.git" 
rev = "38f723bf"

[dependencies.sp-core]
default-features = false
package = "sp-core"
git = "https://github.com/paritytech/substrate.git" 
rev = "38f723bf"

[dev-dependencies]
approx = "0.3.0"

[dev-dependencies.runtime-io]
package = "sp-io"
git = "https://github.com/paritytech/substrate.git" 
rev = "38f723bf"

[dev-dependencies.runtime-interface]
default-features = false
package = "sp-runtime-interface"
git = "https://github.com/paritytech/substrate.git" 
rev = "38f723bf"

[dev-dependencies.test-utils]
path = "../test-utils"

[features]
default = ["std"]
std = [
	"serde",
	"num-traits/std",
	"codec/std",
	"rstd/std",
	"frame-support/std",
	"sp-core/std",
	"sp-runtime/std",
	"runtime-io/std",
	"frame-system/std",
	"encointer-communities/std",
	"encointer-primitives/std",
	"fixed/std",
	"fixed/serde",
]
