[package]
name = "test-utils"
version = "0.7.0"
authors = ["encointer.org <alain@encointer.org>"]
edition = "2018"

[dependencies]
log = { version = "0.4.14"}
fixed = { package = "substrate-fixed", tag = "v0.5.6", git = "https://github.com/encointer/substrate-fixed"}

# local deps
encointer-primitives = { path = "../primitives"}
encointer-balances = { package = "pallet-encointer-balances", path = "../balances"}
encointer-ceremonies = { package = "pallet-encointer-ceremonies", path = "../ceremonies"}
encointer-communities = { package = "pallet-encointer-communities", path = "../communities"}
encointer-scheduler = { package = "pallet-encointer-scheduler", path = "../scheduler"}

# substrate deps
frame-benchmarking =  { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master" }
frame-support =  { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master" }
frame-support-test =  { version = "3.0.0", git = "https://github.com/paritytech/substrate.git", branch = "master" }
frame-system =  { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master" }
pallet-balances =  { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master" }
pallet-timestamp =  { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master" }
sp-core =  { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master" }
sp-inherents =  { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master" }
sp-io =  { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master" }
sp-keyring =  { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master" }
sp-std = { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master" }
sp-runtime =  { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master" }

# polkadot deps
xcm = { git = "https://github.com/paritytech/polkadot" , branch = "master" }
xcm-builder = { git = "https://github.com/paritytech/polkadot" , branch = "master" }
xcm-executor = { git = "https://github.com/paritytech/polkadot" , branch = "master" }
polkadot-parachain = { git = "https://github.com/paritytech/polkadot" , branch = "master" }
