[package]
name = "pallet-encointer-communities"
version = "0.5.0"
authors = ["encointer.org <alain@encointer.org>"]
edition = "2018"

[dependencies]
log = { version = "0.4.14", default-features = false }

[dependencies.encointer-primitives]
default-features = false
package = "encointer-primitives"
path = "../primitives"

[dependencies.fixed]
default-features = false
git = "https://github.com/encointer/substrate-fixed"
tag = "v0.5.6"
package = "substrate-fixed"

[dependencies.rstd]
default-features = false
package = "sp-std"
git = "https://github.com/paritytech/substrate.git" 
branch = "master"

[dependencies.runtime-io]
default-features = false
package = "sp-io"
git = "https://github.com/paritytech/substrate.git" 
branch = "master"

[dependencies.sp-runtime]
default-features = false
package = "sp-runtime"
git = "https://github.com/paritytech/substrate.git" 
branch = "master"

[dependencies.codec]
default-features = false
package = "parity-scale-codec"
features = ["derive"]
version = "2.1.1"

[dependencies.frame-support]
default-features = false
package = "frame-support"
git = "https://github.com/paritytech/substrate.git" 
branch = "master"

[dependencies.frame-system]
default-features = false
package = "frame-system"
git = "https://github.com/paritytech/substrate.git" 
branch = "master"

[dependencies.serde]
features = ["derive"]
optional = true
version = "1.0.101"

[dev-dependencies]
approx = "0.3.0"

[dev-dependencies.externalities]
package = "sp-externalities"
git = "https://github.com/paritytech/substrate.git" 
branch = "master"

[dev-dependencies.sp-core]
package = "sp-core"
git = "https://github.com/paritytech/substrate.git"
branch = "master"

[dev-dependencies.test-utils]
path = "../test-utils"

[features]
default = ["std"]
std = [
	"codec/std",
	"log/std",
	"rstd/std",
	"runtime-io/std",
	"serde",
	"sp-runtime/std",
	"frame-support/std",
	"frame-system/std",
	"fixed/std",
	"encointer-primitives/std",
]

