[package]
name = "pallet-encointer-scheduler"
version = "0.3.6"
authors = ["encointer.org <alain@encointer.org>"]
edition = "2018"

[dependencies]

[dependencies.rstd]
default-features = false
package = "sp-std"
git = "https://github.com/paritytech/substrate.git" 
rev = "a208da16"

[dependencies.runtime-io]
default-features = false
package = "sp-io"
git = "https://github.com/paritytech/substrate.git" 
rev = "a208da16"

[dependencies.sp-runtime]
default-features = false
package = "sp-runtime"
git = "https://github.com/paritytech/substrate.git" 
rev = "a208da16"

[dependencies.codec]
default-features = false
package = "parity-scale-codec"
features = ["derive"]
version = "1.3.0"

[dependencies.frame-support]
default-features = false
package = "frame-support"
git = "https://github.com/paritytech/substrate.git" 
rev = "a208da16"

[dependencies.frame-system]
default-features = false
package = "frame-system"
git = "https://github.com/paritytech/substrate.git" 
rev = "a208da16"

[dependencies.sp-timestamp]
default-features = false
package = "sp-timestamp"
git = "https://github.com/paritytech/substrate.git" 
rev = "a208da16"

[dependencies.timestamp]
default-features = false
package = "pallet-timestamp"
git = "https://github.com/paritytech/substrate.git" 
rev = "a208da16"

[dependencies.serde]
features = ["derive"]
optional = true
version = "1.0.101"

[dependencies.sp-core]
default-features = false
package = "sp-core"
git = "https://github.com/paritytech/substrate.git" 
rev = "a208da16"

[dev-dependencies.keystore]
package = "sc-keystore"
git = "https://github.com/paritytech/substrate.git" 
rev = "a208da16"

[dev-dependencies.inherents]
package = "sp-inherents"
git = "https://github.com/paritytech/substrate.git" 
rev = "a208da16"

[dev-dependencies]
tempdir = "0.3.7"

[dev-dependencies.app-crypto]
package = "sp-application-crypto"
git = "https://github.com/paritytech/substrate.git" 
rev = "a208da16"

[dev-dependencies.externalities]
package = "sp-externalities"
git = "https://github.com/paritytech/substrate.git" 
rev = "a208da16"

[features]
default = ["std"]
std = [
	"codec/std",
	"rstd/std",
	"runtime-io/std",
	"serde",
	"sp-runtime/std",
	"timestamp/std",
	"sp-timestamp/std",
	"sp-core/std",
	"frame-support/std",
	"frame-system/std",
]
