[package]
edition = "2021"
name = "ep-core"
version = "1.0.0"

[dependencies]
codec = {package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"]}
fixed = {package = "substrate-fixed", tag = "v0.5.9", default-features = false, git = "https://github.com/encointer/substrate-fixed"}
impl-serde = {version = "0.3.2", optional = true, default-features = false}
scale-info = {version = "2.0.1", default-features = false, features = ["derive"]}
serde = {version = "1.0.136", optional = true, default-features = false, features = ["derive", "alloc"]}

sp-arithmetic = {version = "5.0.0", git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.24" }
sp-core = {version = "6.0.0", git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.24" }
sp-runtime = {version = "6.0.0", git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.24" }
sp-std = {version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.24" }

[dev-dependencies]
serde_json = "1.0.79"

[features]
default = ["std", "serde_derive"]
serde_derive = [
  "impl-serde",
  "fixed/serde",
  "serde",
]
std = [
  "codec/std",
  "impl-serde/std",
  "fixed/std",
  "scale-info/std",
  "serde/std",
  "sp-arithmetic/std",
  "sp-std/std",
  "sp-core/std",
  "sp-runtime/std",
]
