[package]
name = "ep-core"
version = "0.1.0"
edition = "2021"


[dependencies]
codec = { package = "parity-scale-codec", version = "2.3.0", default-features = false, features = ["derive"] }
impl-serde = { version = "0.3.2", optional = true, default-features = false }
fixed = { package = "substrate-fixed", branch = "polkadot-v0.9.17", default-features = false, git = "https://github.com/encointer/substrate-fixed" }
scale-info = { version = "1.0.0", default-features = false, features = ["derive"] }
serde = { version = "1.0.136", optional = true, default-features = false, features = ["derive","alloc"] }

sp-std = { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.17" }
sp-core = {git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.17" }
sp-runtime = {  git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.17" }

[dev-dependencies]
serde_json = "1.0.79"

[features]
default = ["std", "serde_derive"]
serde_derive = [
    "impl-serde",
    "fixed/serde",
    "serde",
]
std = [
    "codec/std",
    "impl-serde/std",
    "fixed/std",
    "scale-info/std",
    "serde/std",
    "sp-std/std",
    "sp-core/std",
    "sp-runtime/std",
]
