[package]
edition = "2021"
name = "encointer-meetup-validation"
version = "1.0.0"

[dependencies]
codec = {package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"]}
scale-info = {version = "2.0.1", default-features = false}

# local deps
encointer-primitives = {path = "../../primitives", default-features = false}

# substrate deps
sp-runtime = {version = "6.0.0", git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "master"}
sp-std = {version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "master"}

[dev-dependencies]
rstest = "0.12.0"
sp-core = {version = "6.0.0", git = "https://github.com/paritytech/substrate.git", branch = "master"}

[features]
default = ["std"]
std = [
  "encointer-primitives/std",
  "sp-std/std",
  "sp-runtime/std",
]
