[package]
name = "pallet-encointer-communities-rpc-runtime-api"
version = "1.0.0"
authors = ["encointer.org <alain@encointer.org>"]
edition = "2021"

[dependencies]
# local deps
encointer-primitives = { path = "../../../primitives", default-features = false }

# substrate deps
sp-api = { version = "4.0.0-dev", default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.24" }
sp-std = { version = "4.0.0-dev", default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.24" }

[features]
default = ["std"]
std = [
    "sp-api/std",
    "sp-std/std",
    "encointer-primitives/std"
]
