[package]
authors = ["encointer.org <alain@encointer.org>"]
edition = "2021"
name = "encointer-balances-tx-payment-rpc"
version = "1.0.0"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false }
jsonrpsee = {version = "0.14.0", features = ["server", "macros"]}
log = "0.4.14"
parking_lot = "0.12.0"
thiserror = "1.0.31"

# local deps
encointer-balances-tx-payment-rpc-runtime-api = {package = "encointer-balances-tx-payment-rpc-runtime-api", path = "runtime-api"}
encointer-primitives = {path = "../../primitives"}
encointer-rpc = {path = "../../rpc"}

# substrate deps
pallet-transaction-payment = { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "master" }
pallet-transaction-payment-rpc = { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "master" }
sc-rpc = {version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master"}
sc-rpc-api = {version = "0.10.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master"}
sp-api = {version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master"}
sp-blockchain = {version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master"}
sp-core = {version = "6.0.0", git = "https://github.com/paritytech/substrate.git", branch = "master"}
sp-rpc = {version = "6.0.0", git = "https://github.com/paritytech/substrate.git", branch = "master"}
sp-runtime = {version = "6.0.0", git = "https://github.com/paritytech/substrate.git", branch = "master"}
